<a href="https://colab.research.google.com/github/Ankit-ally/Ankit-ally/blob/main/weather_data_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Title : ClimateLens- Unveiling Weather pattern Patterns Through Data

WEATHER DATA PREDICTION PROJECT

In [2]:
#  PYTHON , PANDAS, MYSQL, Numpy   >>>>>

BY MR. ANKIT JITENDRA SHARMA

STEP BY STEP : --->>>>>>> STEP NO :--01 READ THE FILE EXCEL USING PANDAS

In [3]:
! pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)

In [6]:
import pandas as pd

# read the excel file and connect understand the data processing

file_path = "/content/india_weather_data (1).xlsx"

df = pd.read_excel(file_path)

df.head()

,Date,City,Temperature (°C),Humidity (%),Wind Speed (km/h),Precipitation (mm),Pressure (hPa),Cloud Cover (%),Visibility (km),Weather Condition
0,2025-03-01,Mumbai,24.0,83,1.2,23.2,1025,69,3.1,Foggy
1,2025-03-02,Mumbai,16.2,58,13.7,33.6,1021,78,8.8,Sunny
2,2025-03-03,Mumbai,34.7,67,7.3,34.3,1015,41,4.5,Windy
3,2025-03-04,Mumbai,NaN,59,15.4,17.6,983,58,2.4,Drizzle
4,2025-03-05,Mumbai,NaN,87,7.7,24.6,1015,96,3.5,Cloudy

In [7]:
df.tail(2)  # dhanbad (bihar / jharkhand )

,Date,City,Temperature (°C),Humidity (%),Wind Speed (km/h),Precipitation (mm),Pressure (hPa),Cloud Cover (%),Visibility (km),Weather Condition
898,2025-03-29,Dhanbad,17.0,85,19.1,19.4,1015,5,2.9,Foggy
899,2025-03-30,Dhanbad,35.7,45,15.7,21.9,997,63,8.1,Rainy

cheking  for the null values:--- step 02

In [8]:
# chek if any missing values

In [12]:
print(df.isnull().sum())

Date                  0
City                  0
Temperature (°C)      3
Humidity (%)          0
Wind Speed (km/h)     0
Precipitation (mm)    0
Pressure (hPa)        0
Cloud Cover (%)       0
Visibility (km)       0
Weather Condition     0
dtype: int64

using some methods to fill Null -Values

In [13]:
# backward fill(b- fil)

In [15]:
# Backward fill (bfill)
df_bfill = df.fillna(method='bfill')

# Forward fill (ffill)
df_ffill = df.fillna(method='ffill')

# Fill with mean (for numerical columns only)
df_mean = df.fillna(df.mean(numeric_only=True))

# Fill with mode (for categorical columns)
df_mode = df.fillna(df.mode().iloc[0])

# Fill with 0
df_zero = df.fillna(0)

# Drop rows with null values
df_dropped = df.dropna()

# Display results
print("Null values after using bfill:\n", df_bfill.isnull().sum())
print("Null values after using mean:\n", df_mean.isnull().sum())
print("Null values after using mode:\n", df_mode.isnull().sum())
print("Null values after using 0:\n", df_zero.isnull().sum())
print("Shape after dropping rows with null values:", df_dropped.shape)

Null values after using bfill:
 Date                  0
City                  0
Temperature (°C)      0
Humidity (%)          0
Wind Speed (km/h)     0
Precipitation (mm)    0
Pressure (hPa)        0
Cloud Cover (%)       0
Visibility (km)       0
Weather Condition     0
dtype: int64
Null values after using mean:
 Date                  0
City                  0
Temperature (°C)      0
Humidity (%)          0
Wind Speed (km/h)     0
Precipitation (mm)    0
Pressure (hPa)        0
Cloud Cover (%)       0
Visibility (km)       0
Weather Condition     0
dtype: int64
Null values after using mode:
 Date                  0
City                  0
Temperature (°C)      0
Humidity (%)          0
Wind Speed (km/h)     0
Precipitation (mm)    0
Pressure (hPa)        0
Cloud Cover (%)       0
Visibility (km)       0
Weather Condition     0
dtype: int64
Null values after using 0:
 Date                  0
City                  0
Temperature (°C)      0
Humidity (%)          0
Wind Speed (km/h)     0
Precipitation (mm)    0
Pressure (hPa)        0
Cloud Cover (%)       0
Visibility (km)       0
Weather Condition     0
dtype: int64
Shape after dropping rows with null values: (897, 10)

/tmp/ipython-input-4199199591.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')
/tmp/ipython-input-4199199591.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')

fill null values : take mumbai temperature as in acolumns

In [16]:
# Calculate Mumbai's mean temperature
mumbai_mean_temp = df[df["City"] == "Mumbai"]["Temperature (°C)"].mean()

# Fill NaN values in the Temperature column for Mumbai
df.loc[(df["City"] == "Mumbai") & (df["Temperature (°C)"].isnull()), "Temperature (°C)"] = mumbai_mean_temp

# Check if null values remain in Mumbai’s temperature column
print(df[df["City"] == "Mumbai"]["Temperature (°C)"].isnull().sum())

0

In [21]:
df.head(5)   #### we are allowed to not use no it will show the values df,head ()

,Date,City,Temperature (°C),Humidity (%),Wind Speed (km/h),Precipitation (mm),Pressure (hPa),Cloud Cover (%),Visibility (km),Weather Condition
0,2025-03-01,Mumbai,24.000000,83,1.2,23.2,1025,69,3.1,Foggy
1,2025-03-02,Mumbai,16.200000,58,13.7,33.6,1021,78,8.8,Sunny
2,2025-03-03,Mumbai,34.700000,67,7.3,34.3,1015,41,4.5,Windy
3,2025-03-04,Mumbai,27.951852,59,15.4,17.6,983,58,2.4,Drizzle
4,2025-03-05,Mumbai,27.951852,87,7.7,24.6,1015,96,3.5,Cloudy

not important but check the renaming the function column

In [22]:
df_rename1 = df.rename(columns={"Temperature (°C)": "Temp_C", "Humidity (%)": "Humidity_Percentage"})
print(df_rename1.head())

         Date    City     Temp_C  Humidity_Percentage  Wind Speed (km/h)  \
0  2025-03-01  Mumbai  24.000000                   83                1.2
1  2025-03-02  Mumbai  16.200000                   58               13.7
2  2025-03-03  Mumbai  34.700000                   67                7.3
3  2025-03-04  Mumbai  27.951852                   59               15.4
4  2025-03-05  Mumbai  27.951852                   87                7.7

   Precipitation (mm)  Pressure (hPa)  Cloud Cover (%)  Visibility (km)  \
0                23.2            1025               69              3.1
1                33.6            1021               78              8.8
2                34.3            1015               41              4.5
3                17.6             983               58              2.4
4                24.6            1015               96              3.5

  Weather Condition
0             Foggy
1             Sunny
2             Windy
3           Drizzle
4            Cloudy

using now column  attributes

In [24]:
df.columns = ["Date", "City", "Temp_C", "Humidity_Percentage", "Wind_Speed_kmh", "Precipitation_mm",
              "Pressure_hPa", "Cloud_Cover_Percentage", "Visibility_km", "Weather_Condition"]
print(df.head())                                                                         # in this we get to know aal details of column date to weather condtion ......>>>

         Date    City     Temp_C  Humidity_Percentage  Wind_Speed_kmh  \
0  2025-03-01  Mumbai  24.000000                   83             1.2
1  2025-03-02  Mumbai  16.200000                   58            13.7
2  2025-03-03  Mumbai  34.700000                   67             7.3
3  2025-03-04  Mumbai  27.951852                   59            15.4
4  2025-03-05  Mumbai  27.951852                   87             7.7

   Precipitation_mm  Pressure_hPa  Cloud_Cover_Percentage  Visibility_km  \
0              23.2          1025                      69            3.1
1              33.6          1021                      78            8.8
2              34.3          1015                      41            4.5
3              17.6           983                      58            2.4
4              24.6          1015                      96            3.5

  Weather_Condition
0             Foggy
1             Sunny
2             Windy
3           Drizzle
4            Cloudy

connection of MYSQL ////////////////// download and install mysql

In [25]:
import mysql.connector

conn_mysql = mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345"
)
cursor_mysql = conn_mysql.cursor()
print("MySQL connection established!")

ModuleNotFoundError: No module named 'mysql'

oonce we established mysql connection

CREATING THE DATABASE CONNECTION  TO STORE ALL WEATHER_DATA

In [26]:
cursor_mysql.execute("CREATE DATABASE IF NOT EXISTS weather_db;")
print("MySQL database 'weather_db' created successfully!")

NameError: name 'cursor_mysql' is not defined

CREATING A TABLE IN DATABASE

In [27]:
# CREATE A TABE IN MYSQL SIMPLE

In [ ]:
cursor_mysql.execute("USE weather_db;")  # Select database
cursor_mysql.execute("""
    CREATE TABLE IF NOT EXISTS weather_data (
        Date DATE,
        City VARCHAR(50),
        Temperature_C FLOAT,
        Humidity_Percentage INT,
        Wind_Speed_kmh FLOAT,
        Precipitation_mm FLOAT,
        Pressure_hPa INT,
        Cloud_Cover_Percentage INT,
        Visibility_km FLOAT,
        Weather_Condition VARCHAR(50)
    );
""")
conn_mysql.commit()
print("Table 'weather_data' created successfully in MySQL!")

INSERTING DATA INTO THE TABLE USING DIFFERENT METHODS

#
Now, we'll insert data from the Pandas DataFrame into the SQL table using different methods.

## 1. Using to_sql() (Pandas + SQLAlchemy)

In [31]:
df.to_sql("weather_data",engine, if_exists="append", index=False)
print("Data inserted using to_sql()")

NameError: name 'engine' is not defined

## 2. Inserting Data Using to_list()

In [28]:
data_list = df.values.tolist()
query = """
    INSERT INTO weather_data (Date, City, Temperature_C, Humidity_Percentage, Wind_Speed_kmh,
    Precipitation_mm, Pressure_hPa, Cloud_Cover_Percentage, Visibility_km, Weather_Condition)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""
cursor_mysql.executemany(query, data_list)
conn_mysql.commit()
print("Data inserted using to_list()")

## 3. Inserting Data Using to_tuple()

In [ ]:
data_tuple = [tuple(row) for row in df.itertuples(index=False, name=None)]
cursor_mysql.executemany(query, data_tuple)
conn_mysql.commit()
print("Data inserted using to_tuple()")

## 4. Inserting Data Using iterrows()

In [ ]:
for index, row in df.iterrows():
    cursor.execute("""
        INSERT INTO weather_data (Date, City, Temperature_C, Humidity_Percentage, Wind_Speed_kmh,
        Precipitation_mm, Pressure_hPa, Cloud_Cover_Percentage, Visibility_km, Weather_Condition)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?,?, ?);
    """, tuple(row))
conn_sqlite.commit()
print("Data inserted using iterrows()")

## 5. Inserting Data Using executemany()

In [ ]:
query = """
    INSERT INTO weather_data (Date, City, Temperature_C, Humidity_Percentage, Wind_Speed_kmh,
    Precipitation_mm, Pressure_hPa, Cloud_Cover_Percentage, Visibility_km, Weather_Condition)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""
cursor_mysql.executemany(query, df.values.tolist())
conn_mysql.commit()
print("Data inserted using executemany()")

# Step 11: Running SQL Queries
Now, we will execute five SQL queries to analyze the weather data

## 1. Query to Get the Average Temperature for Each City

In [ ]:
from tabulate import tabulate

query1 = "SELECT City, AVG(Temperature_C) AS Avg_Temperature FROM weather_data GROUP BY City;"
cursor_mysql.execute(query1)
result1 = cursor_mysql.fetchall()

# Define table headers
headers = ["City", "Avg Temperature (°C)"]

# Print the result as a table
print(tabulate(result1, headers=headers, tablefmt="grid"))

## 2. Query to Find the Hottest and Coldest Day

In [ ]:
query2 = """
    SELECT Date, City, Temperature_C
    FROM weather_data
    WHERE Temperature_C = (SELECT MAX(Temperature_C) FROM weather_data)
    OR Temperature_C = (SELECT MIN(Temperature_C) FROM weather_data);
"""
cursor_mysql.execute(query2)
result2 = cursor_mysql.fetchall()
print("Hottest and Coldest Days:", result2)

## 3. Query to Get the Days with the Highest Precipitation

In [ ]:
query3 = "SELECT Date, City, Precipitation_mm FROM weather_data ORDER BY Precipitation_mm DESC LIMIT 10;"
cursor_mysql.execute(query3)
result3 = cursor_mysql.fetchall()
print("Days with the Highest Precipitation:", result3)

## 4. Query to Find Cities with an Average Humidity Above 80%

In [ ]:
query4 = "SELECT City, AVG(Humidity_Percentage) AS Avg_Humidity FROM weather_data GROUP BY City HAVING Avg_Humidity > 80;"
cursor_mysql.execute(query4)
result4 = cursor_mysql.fetchall()
print("Cities with Average Humidity Above 80%:", result4)

## 5. Query to Get the Monthly Average Wind Speed for Each City

In [ ]:
query5 = """
    SELECT MONTH(Date) AS Month, City, AVG(Wind_Speed_kmh) AS Avg_Wind_Speed
    FROM weather_data
    GROUP BY Month, City
    ORDER BY Month, City;
"""
cursor_mysql.execute(query5)
result5 = cursor_mysql.fetchall()
print("Monthly Average Wind Speed for Each City:", result5)

In [ ]:
# Convert query result to Pandas DataFrame
df_wind_speed = pd.DataFrame(result5, columns=['Month', 'City', 'Avg_Wind_Speed'])

# Display the table
print(df_wind_speed)

In [ ]:
from tabulate import tabulate
print(tabulate(df_wind_speed, headers='keys', tablefmt='grid'))
# "plain", "grid", "psql", "fancy_grid", "github"

# Step 12: Creating a Streamlit App with Filters
Now, we'll build a Streamlit app to display the results of our SQL queries. The app will allow users to filter the weather data by month and city.

In [ ]:
%%writefile app.py
import streamlit as st
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Function to connect to SQLite database
def get_data(query, params=None):
    conn = sqlite3.connect("weather_database.sqlite")
    if params:
        df = pd.read_sql_query(query, conn, params=params)
    else:
        df = pd.read_sql_query(query, conn)
    conn.close()
    return df

# Streamlit App Title
st.set_page_config(page_title="Weather Data Analysis", layout="wide")

# Sidebar for navigation
st.sidebar.title("Navigation")
page = st.sidebar.radio("Go to", ["Project Introduction", "Weather Data Visualization", "SQL Queries", "Creator Info"])

# -------------------------------- PAGE 1: Introduction --------------------------------
if page == "Project Introduction":
    st.title("🌦️ Weather Data Analysis")
    st.subheader("📊 A Streamlit App for Exploring Weather Trends")
    st.write("""
    This project analyzes weather data from different cities using an SQLite database.
    It provides visualizations for temperature, humidity, and other weather parameters.

    **Features:**
    - View and filter weather data by city, date, or month.
    - Generate dynamic visualizations.
    - Run predefined SQL queries to explore insights.

    **Database Used:** `weather_database.sqlite`
    """)

# -------------------------------- PAGE 2: Weather Data Visualization --------------------------------
elif page == "Weather Data Visualization":
    st.title("📊 Weather Data Visualizer")

    # Fetch city list
    cities = get_data("SELECT DISTINCT City FROM weather_data")["City"].tolist()

    # Filters
    selected_city = st.selectbox("Select City", cities)
    date_option = st.radio("Filter By:", ["Specific Day", "Entire Month"])

    if date_option == "Specific Day":
        selected_date = st.date_input("Choose a Date")
        query = "SELECT * FROM weather_data WHERE City = ? AND Date = ?"
        df = get_data(query, params=(selected_city, selected_date.strftime("%Y-%m-%d")))
    else:
        selected_month = st.selectbox("Select Month", range(1, 13))
        query = "SELECT * FROM weather_data WHERE City = ? AND strftime('%m', Date) = ?"
        df = get_data(query, params=(selected_city, f"{selected_month:02d}"))

    if not df.empty:
        st.write("### Weather Data", df)

        # Visualization
        st.write("### Temperature Trends")
        plt.figure(figsize=(10, 5))
        sns.lineplot(data=df, x="Date", y="Temperature_C", marker="o", label="Temperature (°C)")
        plt.xticks(rotation=45)
        st.pyplot(plt)
    else:
        st.warning("No data available for the selected filters.")

# -------------------------------- PAGE 3: SQL Queries --------------------------------
elif page == "SQL Queries":
    st.title("📋 SQL Query Results")

    queries = {
        "1. Average Temperature per City": "SELECT City, AVG(Temperature_C) AS Avg_Temperature FROM weather_data GROUP BY City",
        "2. Highest Humidity per City": "SELECT City, MAX(Humidity_Percentage) AS Max_Humidity FROM weather_data GROUP BY City",
        "3. Lowest Temperature Recorded": "SELECT City, MIN(Temperature_C) AS Min_Temperature, Date FROM weather_data",
        "4. Wind Speed Trends": "SELECT City, AVG(Wind_Speed_kmh) AS Avg_Wind_Speed FROM weather_data GROUP BY City",
        "5. Most Common Weather Condition": "SELECT Weather_Condition, COUNT(*) AS Frequency FROM weather_data GROUP BY Weather_Condition ORDER BY Frequency DESC LIMIT 1"
    }

    selected_query = st.selectbox("Choose a Query", list(queries.keys()))
    query_result = get_data(queries[selected_query])

    st.write("### Query Result:")
    st.dataframe(query_result)

# -------------------------------- PAGE 4: Creator Info --------------------------------
elif page == "Creator Info":
    st.title("👩‍💻 Creator of this Project")
    st.write("""
    **Developed by:** Vinodhini
    **Skills:** Python, SQL, Data Analysis,Streamlit, Pandas
    """)
    st.image("https://via.placeholder.com/150", caption="Your Profile Picture", width=150)

In [ ]:
%%writefile app.py
import streamlit as st
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Function to connect to SQLite database
def get_data(query, params=None):
    conn = sqlite3.connect("weather_database.sqlite")
    if params:
        df = pd.read_sql_query(query, conn, params=params)
    else:
        df = pd.read_sql_query(query, conn)
    conn.close()
    return df

# Streamlit App Title
st.set_page_config(page_title="Weather Data Analysis", layout="wide")

# Sidebar for navigation
st.sidebar.title("Navigation")
page = st.sidebar.radio("Go to", ["Project Introduction", "Weather Data Visualization", "SQL Queries", "Creator Info"])

# -------------------------------- PAGE 1: Introduction --------------------------------
if page == "Project Introduction":
    st.title("🌦️ Weather Data Analysis")
    st.image("honda_forecast_week.jpg",)  # Adding GIF
    st.subheader("📊 A Streamlit App for Exploring Weather Trends")
    st.write("""
    This project analyzes weather data from different cities using an SQLite database.
    It provides visualizations for temperature, humidity, wind speed, and other weather parameters.

    **Features:**
    - View and filter weather data by city, date, or month.
    - Generate dynamic visualizations for multiple weather features.
    - Run predefined SQL queries to explore insights.

    **Database Used:** `weather_database.sqlite`
    """)

# -------------------------------- PAGE 2: Weather Data Visualization --------------------------------
elif page == "Weather Data Visualization":
    st.title("📊 Weather Data Visualizer")

    # Fetch city list
    cities = get_data("SELECT DISTINCT City FROM weather_data")["City"].tolist()

    # Filters
    selected_city = st.selectbox("Select City", cities)
    date_option = st.radio("Filter By:", ["Specific Day", "Entire Month"])

    if date_option == "Specific Day":
        selected_date = st.date_input("Choose a Date")
        query = "SELECT * FROM weather_data WHERE City = ? AND Date = ?"
        df = get_data(query, params=(selected_city, selected_date.strftime("%Y-%m-%d")))
    else:
        selected_month = st.selectbox("Select Month", range(1, 13))
        query = "SELECT * FROM weather_data WHERE City = ? AND strftime('%m', Date) = ?"
        df = get_data(query, params=(selected_city, f"{selected_month:02d}"))

    if not df.empty:
        st.write("### Weather Data", df)

        # Select feature to visualize
        feature = st.selectbox("Select Feature to Visualize",
            ["Temperature_C", "Humidity_Percentage", "Wind_Speed_kmh",
             "Precipitation_mm", "Pressure_hPa", "Cloud_Cover_Percentage",
             "Visibility_km"])

        # Visualization
        st.write(f"### {feature} Trends")
        plt.figure(figsize=(10, 5))
        sns.lineplot(data=df, x="Date", y=feature, marker="o", label=feature)
        plt.xticks(rotation=45)
        st.pyplot(plt)

        # Bar chart for Weather Condition
        st.write("### Weather Condition Distribution")
        plt.figure(figsize=(8, 4))
        sns.countplot(y=df["Weather_Condition"], palette="coolwarm")
        st.pyplot(plt)

    else:
        st.warning("No data available for the selected filters.")

# -------------------------------- PAGE 3: SQL Queries --------------------------------
elif page == "SQL Queries":
    st.title("📋 SQL Query Results")

    queries = {
        "1. Average Temperature per City": "SELECT City, AVG(Temperature_C) AS Avg_Temperature FROM weather_data GROUP BY City",
        "2. Highest Humidity per City": "SELECT City, MAX(Humidity_Percentage) AS Max_Humidity FROM weather_data GROUP BY City",
        "3. Lowest Temperature Recorded": "SELECT City, MIN(Temperature_C) AS Min_Temperature, Date FROM weather_data",
        "4. Wind Speed Trends": "SELECT City, AVG(Wind_Speed_kmh) AS Avg_Wind_Speed FROM weather_data GROUP BY City",
        "5. Most Common Weather Condition": "SELECT Weather_Condition, COUNT(*) AS Frequency FROM weather_data GROUP BY Weather_Condition ORDER BY Frequency DESC LIMIT 1"
    }

    selected_query = st.selectbox("Choose a Query", list(queries.keys()))
    query_result = get_data(queries[selected_query])

    st.write("### Query Result:")
    st.dataframe(query_result)

# -------------------------------- PAGE 4: Creator Info --------------------------------
elif page == "Creator Info":
    st.title("👩‍💻 Creator of this Project")
    st.write("""
    **Developed by:** Vinodhini
    **Skills:** Python, SQL, Data Analysis,Streamlit, Pandas
    """)

In [ ]:
!streamlit run app.py